
.catDiv{
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin-bottom: 20px;
    overflow: hidden;

}
/* .catDiv img{
    margin-top: -120px;
    margin-left: -80px;
    width: 100%;
} */
.catElement{ 
    margin-bottom: 15px;
}
.catElement h5{
    /* font-weight: bold; */
    letter-spacing: 2px;
    font-size:17px;
}
.btn{
    font-weight: bold;
    width: 230px;
    height: 45px;
    border-radius: 15px;
    box-shadow: 1px 2px 1px rgb(49, 49, 49);
}
.btn1{
    /* background-color:#FFE600; */
    border:10px rgb(9, 192, 3);
    color: rgb(9, 192, 3);
    border-radius: 8px 8px 8px 8px;
}
.btn2{
    /* background-color: #FFE600; */
    border:10px rgb(255, 0, 0);
    color: rgb(255, 0, 0);

}
.btn2:focus, .btn2:hover, .btn1:focus, .btn1:hover{
    border:1px #FFE600;
    color: #FFE600;

}
.plusCat{
    margin-top: 30px;
    width: 35px;
    font-size: 40px;
    height: 40px;
    border: none;
    box-shadow: 1px 2px 1px;
    border-radius: 10px ;
    /* background-color:red; */
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
/* .plusCat span{
    color:pink;
} */
/* .supp{
    width:30px;
    height:30px;
    background-color: red;
    border-radius:33px;
} */
.boutSUP{
    border:none;
    background-color:white;
}
.supprimer{
    width:25px;
    height: auto;
}
.ajouter{
    border:none;
    background-color:white;
}
.ajouter img{
    width:45px;
    height: auto;
}
.i1, .i2, .i3, .i4, .i5, .i6, .i7{
    width:30px;
    height: auto;
}


.AjoutElement{
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px;
    background: rgb(255, 255, 255);
    height: 500px;
    width: 300px;
}
.modalAnnuler{
    width:90px;
    margin-left:0;
}
.modalConfirmer{
    width:100px;
    right:5px;
}

#personModal {
    transform: translate(500px, 0px);
    display: none;
    /* Hidden by default */
    /* position: fixed; */
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    position:absolute;
    right: 5px;
    top: 50px;
   
    /* Full width */
  
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(255, 0, 0);
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */ 
    /* Black w/ opacity */
    border-color: #FFE600 ;
  }
  .divCacher{
    padding-top: 50px;
    position: absolute;
    right: 25px;
    background-color: red;
    width: 300px;
    height: 350px;
  }
  .visible{
    visibility: visible;
  }
  .nonVisible{
    visibility: hidden;
  }
