
.catDiv{
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin-bottom: 20px;
    overflow: hidden;

}
/* .catDiv img{
    margin-top: -120px;
    margin-left: -80px;
    width: 100%;
} */
.catElement{ 
    margin-bottom: 15px;
}
.catElement h5{
    /* font-weight: bold; */
    letter-spacing: 2px;
    font-size:17px;
}
.contenu{
    margin-top:5%;
    margin-left:-2%;
}
.divcont{
    margin-left:-10%;
}
.btn{
    font-weight: bold;
    width: 230px;
    height: 45px;
    border-radius: 15px;
    /* box-shadow: 1px 1px 1px rgb(214, 0, 0); */
}
.btn1{
    /* background-color:#FFE600; */
    margin-right: 50px;
    border:none;
    /* border:10px rgb(9, 192, 3); */
    color: rgb(9, 192, 3);
    border-radius: 5px 5px 5px 5px;
    /* background-color: rgba(202, 202, 202, 0.329) ; */
    box-shadow: 1px 1px 1px rgb(9, 192, 3) ; 
}
.btn2{
    margin-left:20px;
    border:none;
    /* background-color: #FFE600; */
    /* border:10px rgb(255, 0, 0); */
    color: rgb(255, 0, 0);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgb(255, 0, 0);

}
.btn2:focus, .btn2:hover, .btn1:focus, .btn1:hover{
    border:1px #FFE600;
    color: #FFE600;
    box-shadow: 1px 1px 1px #FFE600 ;

}
.plusCat{
    margin-top: 30px;
    width: 35px;
    font-size: 40px;
    height: 40px;
    border: none;
    box-shadow: 1px 2px 1px;
    border-radius: 10px ;
    /* background-color:red; */
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
/* .plusCat span{
    color:pink;
} */
/* .supp{
    width:30px;
    height:30px;
    background-color: red;
    border-radius:33px;
} */
.boutSUP{
    border:none;
    background-color:white;
}
.supprimer{
    width:25px;
    height: auto;
}
.ajouter{
    border:none;
    background-color:white;
   
}
.ajouter img{
    width:45px;
    height: auto;
}
.i1, .i2, .i3, .i4, .i5, .i6, .i7{
    width:30px;
    height: auto;
}


.AjoutElement{
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px;
    background: rgb(255, 255, 255);
    height: 500px;
    width: 300px;
}
.modalAnnuler{
    border-radius:6px 6px 6px 6px;
    border:1px solid red;
    width:120px;
    height: 37px;
    transform: translate(-65px,0);
    background-color: white;
    color:red;
    left:0;
}
.modalAnnuler:hover{
    transition:0.2s;
    box-shadow: 1px 1px 0px rgba(255, 0, 0, 0.473);
}
.modalConfirmer:hover{
    transition:0.2s;
    box-shadow: 1px 1px 0px rgba(0, 183, 255, 0.459);
}
.modalConfirmer{
    border-radius:6px 6px 6px 6px;
    color:rgb(0, 183, 255);
    background-color: white;
    border:1px solid rgb(0, 183, 255);
    width:120px;
    height: 37px;
    transform: translate(-25px,0);
}

#personModal {
    transform: translate(500px, 0px);
    display: none;
    /* Hidden by default */
    /* position: fixed; */
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    position:absolute;
    right: 5px;
    top: 50px;
   
    /* Full width */
  
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(255, 0, 0);
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */ 
    /* Black w/ opacity */
    border-color: #FFE600 ;
  }
  .divCacher{
    margin-top:-4%;
    position: absolute;
    right: 24px;
    border:1px solid rgb(212, 212, 212);
    /* background-color: rgb(77, 77, 77); */
    width: 390px;
    height: auto;
    box-shadow:3px 3px 0  rgba(172, 172, 172, 0.596);
    border-radius: 8px;
    transition: 0.3s;
    transform-style: preserve-3d;
  }
  .visible{
    visibility: visible;
    padding:0;
    padding-top:10px;
  }
  .nonVisible{
    visibility: hidden;
   
  }
.formulaire input{
    width:75%;
    /* justify-content:0 auto;
    align-items: center; */
    margin-left: 15%;
}
.formulaire label{
    text-align: center;
    color:rgb(114, 113, 113);
    margin-left: 15%;
}
.titre{
    text-align: center;
    /* margin-bottom:50px; */
}
.header{
    margin-top:0;
    /* height: 10px; */
}