.fond{
    position: absolute;
    background-color: rgb(255, 233, 107);
    width: 100%;
    height: 100%;
    top: 0;
}
.barnav{
    z-index: 100;
    background-color:white ;
    border: 1px solid grey;
    height: 35px;
    position: fixed;
    
}
.glisseGauche{
    border: 1px solid grey;
    position: absolute;
    width: 200px;
    top: 35px;
    height: 100%;
    background-color: azure;
    position: fixed;
}
.content{
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    height: 150%;
    left: 200px;
    padding-left: 220px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.navContent{
    align-items: center;
    
}
.fenetre{
    border: 0px solid grey;
    border-radius: 10px;
    box-shadow: 0px 1px 1px;
    height: 40px;
    margin-left:20px;
    background-color: #e9eb92;
    text-align: center;
    
}
.divcontenu{
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    padding: 10px;
    height: 100%;
    
}
.Calculatrice{
    position: absolute;
    right: 3px;
    top: 100px;
    background-color: rgb(255, 200, 0);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px;
    text-align: center;
    position: fixed;
}
.footer{
    margin-top: 50px;
    width: 100%;
    background-color: black;
    height: 100px;
}