.firstDiv{
    border: 1px 1px solid grey;
    background-color: white;
    box-shadow: 0px 1px 1px;
    border-radius: 5px;
    width: 70%;
    height: 275px;
    transition: 1s;
}
.total{
    text-align: center;
    margin:20px 30px ;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px;
}
.total2{
    text-align: center;
    margin:0px 30px ;
    height: 60px;
    border-radius: 5px;
    
}
.equilibre{
    background-color: rgb(245, 247, 249);
    margin: 0px 30px;
    margin-bottom: 10px;
    height: 165px;
}
.informations{
    margin-top: 20px;
    border: 1px 1px solid grey;
    background-color: white;
    box-shadow: 0px 1px 1px 1px;
    border-radius: 5px;
    width: 70%;
    height: 500px;
}
.barNavInfo{
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;
    background-color: rgb(255, 252, 249);
    height: 40px;
    box-shadow: 1px 1px 1px;
}
.Element{
    border: 0.1px solid grey;
    margin: 10px;
    width: 98%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.4px 0.4px 0.4px;
}
.ElementBar{
    border: 0px solid grey;
    margin-left: 0;
    width: 100%;
    background-color: rgb(245, 247, 249);
    box-shadow: 1px 1px 1px;
}
.ElementContenu{
    padding: 2px;
}
.ElementDetails{
    border: 1px solid grey;
    margin-left: 0;
    width: 100%;
    color: rgb(82, 82, 82);
    background-color: rgb(255, 253, 196);
}
.AjoutElement{
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px;
    background: rgb(255, 255, 255);
    height: 500px;
    width: 300px;
}
.Revenu {
    color: green;
}
.Depense{
    color: red;
}
.supp{
    background-color: rgb(151, 62, 62);
    color: white;
    padding-top: 2px;
    margin-top: 1px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}