*{
    margin: 0;
    padding: 0;
}
.Para p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    height: 80%;
    text-align: center;
    
}
.Para{
    position: relative;
    top: 80px;
    left: 15%;
}