*{
    margin:0;
    box-sizing: border-box;
    letter-spacing: 0.7px;
}
.box-area{
    /* align-items: center; */
    background-color: #EDF058;
}
#box-left{
    padding:10%;
    background-color: white;
    border-radius:0 90px 90px 0;
    align-items: center;
    display:inline-block;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}
.form{
    width:60%;
    height:850px;
    background-color:white;
    display:inline-block;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content:space-around;
}
.email,.mdp{
    background-color: rgba(236, 236, 236, 0.315);
    width:90%;
    height: 43px;
    align-items: center;
    display:inline-block;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
    border:1px solid rgba(51, 51, 46, 0.692);
    border-radius:7px;
}
.soratra1{
    align-items: center;
    display:inline-block;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}
#bout1{
    background-color:#EDF058;
    border:1.5px solid #EDF058;
    border-radius:10px;
    width:90%;
    height:43px ;
    text-align: center;
    cursor: pointer;
    
}
.tsipika1{
    width:30%;
    height:50px ;
}
.tsipika2{
    width:30%;
    height:50px ;
}
#ou{
    flex-direction: column;
    width:90%;
    height:50px ;
}
#bout2{
    border: none;
    background-color:rgba(238, 238, 238, 0.123);;
    border:1.5px solid #EDF058;
    border-radius:10px;
    color:#EDF058;
    box-shadow:1px rgba(51, 51, 46, 0.692);
    font-weight: bold;
    width:90%;
    height:40px ;
    text-align: center;
    cursor: pointer;
}
#bout2:hover{
    background-color:#EDF058;
    border:1.5px solid white;
    border-radius:10px;
    color:white;
    font-weight: bold;
    width:90%;
    height:40px ;
    text-align: center;
    cursor: pointer;
}
#rond1{
    background-color: #EDF058;
    width:100px;
    height: 100px;
    border-radius:0 150px 0 0;

}
#rond2{
    background-color: #EDF058;
    width:50px;
    height: 50px;
    border-radius:50px;
    z-index: -1;
}
input{
    align-items: center;
    display:inline-block;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}

form{
    height:100%;
}
form h3{
    font-family:Arial;
    font-weight: bold;
}
.lesInputs{
    display:inline;
    justify-content:space-around;
    text-align: center;
}
.right-box{
    padding:10%;
    width:40%;
    height: 550px;
    display:inline-block;
    justify-content:center;
    align-items: center;
    text-align: center;
}
p{
    font-family:'Jacques Francois';
    position:relative;
    text-align: center;
}