*{
    margin:0;
    box-sizing: border-box;
    letter-spacing: 0.7px;
    align-content:center;
}
.container1{
  width: 150%;
  margin-left: 250px;
}
.box-area{
    background-color: #EDF058;
    align-content:center;
    max-width:100%;
    /* margin:0 10% 0 10%; */
     text-align:center;
}
#box-left{
    padding:7% 10% 10% 10%;
    width:63%;
    background-color: white;
    border-radius:0 90px 90px 0;
    align-items: center;
    display:inline-block;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}
form{
  width:87%;
  height:100%;
}
form h3{
  font-family:Arial;
  font-weight: bold;
}
input{ 
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1.5rem;
  width: 90%;
  align-items: center;
  display:inline-block;
  flex-direction: column;
  justify-content:space-around;
  position: relative;
}
.input-group {
    position: relative;
    margin: 1.5rem 0;
  }
  
  
  .overflow-hidden {
    overflow: hidden;
  }
.effect-3 {
    border-bottom: 2px solid rgba(185, 185, 185, 0.342);
    padding-left: 0;
  }
  
  .effect-3 + .border {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 90%;
    height: 2.5px;
    transition: 0.5s;
  }
  
  .effect-3:focus + .border {
    background-color: rgb(246, 250, 0);
    transform: translateX(-55%) scale(1);
  }
  
#bout1{
    background-color:#EDF058;
    border:1.5px solid #EDF058;
    border-radius:10px;
    width:90%;
    height:43px ;
    text-align: center;
    cursor: pointer;
    
}
#bout2{ 
    border: none;
    background-color:rgba(238, 238, 238, 0.123);;
    border:1.5px solid #EDF058;
    border-radius:10px;
    color:#EDF058;
    box-shadow:1px rgba(51, 51, 46, 0.692);
    font-weight: bold;
    width:90%;
    height:40px ;
    text-align: center;
    cursor: pointer;
}
#bout2:hover{
    background-color:#EDF058;
    border:1.5px solid white;
    border-radius:10px;
    color:white;
    font-weight: bold;
    width:90%;
    height:40px ;
    text-align: center;
    cursor: pointer;
    transition:2s;
}
.line-container {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: rgba(165, 165, 165, 0.205);
  }
  
  .short {
    width:176px;
  }

.ROND{
    width:20%;
    height:20%;
    overflow: hidden;
    /* background-color: red; */
    position:absolute;
    bottom:0;
    left:0;
}
.rond1{
    width:70%;
    height:70%;
    background-color: #EBF058;
    border-radius:0 100% 0 0;
    position:absolute;
    bottom:0;

}
.rond2{
  width:40%;
  height:40%;
  border-radius:50% 50% 50% 50%;
  background-color: #EBF058;
  position:absolute;
  top:0;
  right:0;
}
.right-box{
    padding:7% 2% 7% 2%;
    width:37%;
    height: 550px;
    display:inline-block;
    justify-content:center;
    align-items: center;
    text-align: center;
}
p{
    font-family:'Jacques Francois';
    position:relative;
    text-align: center;
}
#illustration{
     overflow: hidden;
     width:420px; height:320px;
     /* background-color: red; */
     position:absolute;
     align-items:center;
     right: 17%;
}
img{
    width:100%;
    height:100%;
    left:0;
    right:30px;
}
#bout1{
  width: 400px;
}